<div class="footer-bg white-color">
  <footer class="py-3 container">
    <div
      class="border-bottom pb-3 mb-3 row justify-content-between ms-3 ms-sm-0"
    ></div>
    <p class="text-center text-muted">
      Suarez Barraza, Ignacio 2022
      <i class="far fa-copyright"></i>
    </p>
  </footer>
</div>
