<nav
  class="navbar sticky-top navbar-expand-lg navbar-dark menu border-bottom border-2 border-secondary"
>
  <div class="container md-conteiner-fluid">
    <div>
      <a class="me-4 navbar-brand" href="http://localhost:3000/">Inicio</a>
      <a class="me-4 navbar-brand" href="http://localhost:3000/products"
        >Productos</a
      >
    </div>
  </div>
</nav>
