<form id="productForm" class="pt-3 d-flex row">
  <legend>Agregar producto</legend>
  <label for="title" class="mb-3"
    >Nombre:
    <input
      type="text"
      name="title"
      id="title"
      class="bg-transparent border border-3 border-top-0 border-end-0 border-start-0 border-secondary text-white"
      required
  /></label>
  <label for="price" class="mb-3"
    >Precio:
    <input
      type="number"
      name="price"
      id="price"
      class="bg-transparent border border-3 border-top-0 border-end-0 border-start-0 border-secondary text-white"
      required
  /></label>
  <label for="thumbnail" class="mb-3"
    >URL imagen:
    <input
      type="text"
      name="thumbnail"
      id="thumbnail"
      class="bg-transparent border border-3 border-top-0 border-end-0 border-start-0 border-secondary text-white"
      required
  /></label>
  <button
    type="submit"
    class="btn btn-secondary border-0 btn-block mb-4 col-lg-4 text-white"
    id="form__bt--colorhover-1"
  >
    Agregar
  </button>
</form>
